/* full screen width and height + some color + handle postioner */

.refrigerator-container {
  height: 100vh; 
  width: 100%; 
  margin: 0;
  background-color: #e0e0e0; /* Light gray for fridge */
  border-radius: 10px; /* Rounded corners */
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2); /* Soft shadow */
  position: relative; /* Allows for absolute positioning of handles */
}

/* some % of the 100vh 60-75 + some color  */
.freezer {
  height: 70vh;
  background-color: #b0b0b0; 
  position: relative; 
}


/* longer than 100vh so there is a place to scroll + some color  */
.fridge {
  height: 150vh;
  background-color: #d0d0d0; 
  position: relative; 
  overflow-y: scroll; 
}


/* overlay position + some distance from the top and right side, 
height and width + a different color than the door 
probably some shadow to give depth and rounded corners on the div */
.freezer-handle {
  position: absolute; 
  top: 10%; 
  right: 10%; 
  height: 80%; 
  width: 20px; 
  background-color: #a0a0a0;
  border-radius: 5px; 
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); 
}

/* overlay position + some distance from the top and right side, 
height and width + a different color than the door 
probably some shadow to give depth and rounded corners on the div */
.fridge-handle {
  position: absolute; 
  top: 20%; 
  right: 10%; 
  height: 60%; 
  width: 20px; 
  background-color: #808080; 
  border-radius: 5px; 
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); 
}

